.FIELDSET{background-color:LightYellow}
.LEGEND{font-size: 150%; font-weight: bold;}
.CAPTION{color: Navy;}
.WARNING{color: Red; font-weight: bold;}


.SPEAKER{color:#1d6dde; font-size:110% ; font-weight:bold}
.TALK{color:#267726 ; font-size:140% ; font-weight:bold}
.DATE_TIME{color: Navy;}


/*********************************/



.FULLPAGE{background-color:LightYellow}
table{border-collapse:collapse; vertical-align:text-top}

.MENU .MAIN_TABLE .SEARCH_PARAMS .SEARCH_RESULTS{
	font-size:18px;
	font-weight:bold;
	border:1px solid Red
}


/*table, tr{border:1px LightSlateGrey;}*/

.TITLE{color: black; font-weight: bold}

.QUERY{color: Purple; font-weight: bold}
.SUCCESS{color: Navy; font-weight: bold}
.ERROR{color: Red; font-weight: bold}
.ACTION{font-weight: bold}
.INFO{}


.RESULTS_HEADER{color: Purple; font-weight: bold}



.CREATE{background-color: LimeGreen; font-weight: bold; border:0px solid black}
.VIEW{background-color: Yellow; font-weight: bold; border:0px solid black}
.EDIT{background-color: Yellow; font-weight: bold; border:0px solid black}
.DELETE{background-color: HotPink; font-weight: bold; border:0px solid black}



.SHOPS{font-size:100%;}
.RETAILS{font-size:100%;}
.SORTBY{font-size:100%;}
.CATEGORIES{font-size:100%;}

.PARAMS{font-size:11px; border-collapse:collapse}
.SEARCHTEXT{font-size:11px; border-collapse:collapse}
.LOGIN{font-size:12px;}
.STANDARD_TEXT{}







.S_LOGOTEXT{color:#df421e; font-size:300%; font-weight:bold;}
.S_TITLE{color:#267726 ; font-size:140% ; font-weight:bold}
/*
.S_AUTHOR{color:#004999; font-size:110% ; font-weight:bold}
*/
.S_AUTHOR{color:#1d6dde; font-size:110% ; font-weight:bold}

.S_INFO{}
.S_DATE{}
